body {
	min-width: 1280px;
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #211423;
	background-color: #f9f5ea;
}

h1 {
	margin: 0;
	padding: 0;
	font-family: 'Lora', serif;
	font-size: 48px;
	line-height: 60px;
	font-weight: bold;
}

h2 {
	margin: 0;
	padding: 0;
	font-family: 'Lora', serif;
	font-size: 36px;
	line-height: 48px;
	font-weight: bold;
}

h3 {
	margin: 0;
	padding: 0;
	font-family: 'Lora', serif;
	font-size: 24px;
	line-height: 36px;
	font-weight: bold;
	font-style: italic;
}

h4 {
	margin: 0;
	padding: 0;
	font-family: 'Lora', serif;
	font-size: 22px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
}	

h5 {
	margin: 0;
	padding: 0;
	font-family: 'Lora', serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: normal;
}

h6 {
	margin: 0;
	padding: 0;
	font-family: 'Lora', serif;
	font-size: 12px;
	line-height: 14px;
	font-weight: normal;
	text-transform: uppercase;
}
 p {
	margin: 0;
	padding: 0;
 }

.container {
	width: 1200px;
	margin: 0 auto; /*Посмотреть на счет горизонтального выравнивания*/
	padding: 20px;
	background-color: #f9f5ea;
	border-radius: 5px;
	opacity: 0.75; /*Прикинуть прозрачность в готовиом виде*/
}

/*Блок хэйдера*/

.main-header {
	max-width: 1280px;
	color: #f9f5ea;
	margin: 0 auto;
	padding: 40px;
	background-color: #211423;
	background-image: url("../img/bg-header.png");
	background-position: center 65%;
	background-repeat: no-repeat;
	background-size: cover;
}

.header-container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

.contacts-header {
	display: inline-block;
	float: left;
	width: 360px;
	height: 50px;
	margin: 0;
	padding: 0;
	vertical-align: top;
	margin-bottom: 30px;
}

.main-menu {
	float: right;
	width: 760px;
	height: 50px;
	margin-bottom: 30px;
}

.main-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: right;
}

.main-menu li {
	display: inline-block;
	vertical-align: top;
	margin-left: 40px;
}

.main-menu a {
	font-family: 'Lora', serif;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
	text-transform: uppercase;
	color: #f9f5ea;
}

.main-menu a:hover {
	text-decoration: underline;
}

.main-menu a:active {
	text-decoration: none;
	opacity: 0.5;
}

.header-title {
	clear: both;
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
}

.header-title h1 {
	margin-bottom: 20px;
}

/*Блок "О нас"*/

.about {
	max-width: 1280px;
	margin: 0 auto;
	padding: 40px;
	padding: 40px;
	background-color: #211423;
}

.about-content {
	margin-bottom: 20px;
}

.about h2 {
	text-align: center;
	margin-bottom: 20px;
}

.about-content p {
	text-indent: 1.5em;
	text-align: justify;
	margin-right: 40px;
	margin-left: 40px;
}

.coaches-content {
	text-align: center;
}

.coaches-photo {
	display: inline-block;
	width: 345px;
	margin-bottom: 20px;
	vertical-align: top;
}

.coaches-photo h3{
	padding-top: 300px;
}

.coaches-photo .box-photo {
	display: inline-block;
	width: 200px;
	height: 300px;
	border: #f9f5ea 2px solid;
	border-radius: 10px;
	background-color: #211423;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}

/*Далее идут перечесление ссылок на фото*/

.coaches-photo .photo1 {
	background-image: url("../img/coaches/photo1.jpg");
}

.coaches-photo .photo2 {
	background-image: url("../img/coaches/photo2.jpg");
}

.coaches-photo .photo3 {
	background-image: url("../img/coaches/photo3.jpg");
}

.coaches-photo .photo4 {
	background-image: url("../img/coaches/photo4.jpg");
}

.coaches-photo .photo5 {
	background-image: url("../img/coaches/photo5.jpg");
}

.coaches-photo .photo6 {
	background-image: url("../img/coaches/photo6.jpg");
}

.coaches-photo .photo7 {
	background-image: url("../img/coaches/photo7.jpg");
}

.coaches-photo .photo8 {
	background-image: url("../img/coaches/photo8.jpg");
}




/*
.main-header::after {
	display: table;
	clear: both;
	content: "";
}
*/